<section class='new-pin-page'>
  <h1>Create New Pin here</h1>
  <div class='pin-form'>
    <%= turbo_frame_tag 'new_pin' do %>
      <%= render partial: 'form', locals: { pin: @pin, boards: @boards } %>
      <%= link_to 'Cancel', user_path(current_user) %>
    <% end %>
  </div>
</section>