<!-- For turbo stream to delete data because using self in model else do not have to add it -->
<!-- <%= turbo_stream_from comment %> -->
<!-- Here is every single comment in database -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div class="d-flex flex-row justify-content-between">
    <p><%= comment.body %></p>
    <%= button_to 'Delete', pin_comment_path(comment.pin, comment), method: :delete, data: { confirm: 'Are your sure?' } %>
  </div>
<% end %>
