<h1>This is Homepage</h1>

<div data-controller="hello" data-hello-world='nice'>
  <input data-hello-target="name" type="text">

  <button data-color='blue' data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
  <span data-hello-target="output">
  </span>
</div>