<section class='board-show-page'>
  <%= render 'show', board: @board %>
  <%= button_to 'Delete', board_path(@board), method: :delete, data: { confirm: 'Are you sure' } %>
  <div class='list-of-pin'>
    <% @board.pins.each do |pin| %>
      <% if pin.image.attached? %>
        <%= link_to pin_path(pin) do %>
          <%= image_tag pin.image, style: 'width: 200px;' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>